@media only screen and (max-width: 1005px) {
	main {
		.slide {
			width: 100%;
			max-width: 96%;
			margin: 0 1% 20px;
			min-height: 100%;
		}
		.title-slide {
			text-align: left;
		}
		//.slick-initialized .slick-slide {
		//	text-align: center;
		//}
		.personal-area {
			margin: 10px 1%;
			width: 47%;
			max-width: 100%;
		}
		.small-width {
			margin: 10px 1%;
			min-height: 485px;
			width: 47%;
			max-width: 100%;
		}
		.small-width:nth-child(3n+2) {
			margin: 10px 1%;
		}
		
		.custom-container {
			padding: 0 10px;
		}
	}
	
	.analysis-container {
		
		.sales-analysis {
			
			label {
				max-width: 100%;
				margin-bottom: 12px;
				float: none;
			}
			
			.hide-label-mobile {
				display: none;
			}
			
			.select {
				margin-left: 0;
			}
			
			.date-from {
				margin-bottom: 12px;
			}
			.date-from,.date-to {
				float: none;
				max-width: 100%;
			}
		}
		
		.navigation,.sales-analysis {
			width: 48.7%;
		}
	}
	
	.delivery-container {
		.application-for-delivery {
			.date-from,.claimed-distance {
				margin-left: 0;
			}
		}
		.left-block  {
			width: 100%;
			margin-left: 0;
			margin-bottom: 20px;
		}
		.right-block {
			width: 100%;
			input {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		
		.product-acceptance {
			.select {
				text-align: center;
				select,input {
					width: 100%;
				}
			}
			span {
				display: block;
				margin: 5px 0;
			}
		}
	}
	
	.header-top {
		.custom-container {
			padding: 0 20px;
		}
	}
	
	.header-bottom {
		padding: 15px 20px; ;
	}
	
	.calculate-cost {
		.goods-select{
			select {
				width: 38%;
			}
		}
	}
  
  .consumption-container {
	  .input-container {
		  overflow: auto;
	  }
	  .quantity-oil-name,.oil-name-container,.quantity-oil-input-container {
		  margin-left: 0;
	  }
  }
	
	.mailing-container {
		.create-mailing-list {
			.date-from {
				margin-left: 0;
			}
		}
	}
	
	.debit-container {
		label {
			margin-bottom: 12px;
			display: block;
		}
		.treaty {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 880px) {
	
	.header-top .padding-reset {
		display: none;
	}
	
	.header-top {
		li {
			width: 43%;
		}
		.your-debt {
			width: 43%;
		}
		.select-office {
			width: 29%;
		}
		.admin,.message {
			width: 5%;
		}
	}
	
	.header-bottom .right-block {
		width: 25%;
	}
	
	main {
		.custom-container {
			padding: 0 10px 0 12px;
		}
		.personal-area {
			max-height: 485px;
			.description-personal-area {
				max-height: 335px;
				overflow: auto;
			}
		}
		.small-width {
			max-height: 485px;
		}
	}
	
	.analysis-container {
		
		.sales-analysis {
			button{
				font-size: 12px;
			}
		}
		
		.navigation-list {
			.reports-list {
				a {
					font-size: 12px;
				}
			}
		}
		
		.small-blocks-analysis {
			width: 48.7%;
			&:nth-child(3n) {
				margin-right: 2.5%;
			}
			&:nth-child(even) {
				margin-right: 0;
			}
			
		}
	}
	
	#delete .modal-content {
		margin: auto;
		max-width: 500px;
	}
	
	.calculate-cost  {
		.hide-label-mobile {
			display: none;
		}
		.select {
			margin-left: 0;
		}
		label {
			float: none;
			max-width: 100%;
			margin-bottom: 10px;
			display: block;
			font-size: 12px;
		}
		
		.number-of-days-of-delay {
			display: inline-block;
			max-width: 100%;
			width: auto;
			float: none;
			
		}
		.goods-select {
			select {
				width: 100%;
				margin-right: 0;
				margin-bottom: 12px;
			}
		}
		
		.tabs-list {
			position: relative;
			display: block;
			color: #fff;
			
			//&:after {
			//	position: absolute;
			//	top: 15px;
			//	right: 0;
			//	background: url(../img/STR-NIZ.png) no-repeat;
			//	text-align: right;
			//	width: 30px;
			//	height: 30px;
			//}
			
			li {
				display: block;
				
			}
			a {
				display: block;
			}
		}
		
		.tab-menu {
			//height: 40px;
			//overflow: hidden;
			&.active {
				//height: 100%;
			}
		}
	}
	
	.transportation-services {
		.select {
			width: 100%;
			margin-bottom: 12px;
		}
		.or {
			display: block;
			text-align: center;
			margin-right: 0;
			margin-bottom: 12px;
		}
		
		.create-rout {
			margin: auto;
		}
	}
	
	.comprehensive-service {
		
		.left-block {
			display: block;
			margin-bottom: 12px;
		}
		span {
			margin-right: 0;
		}
		
	}
	
	.total {
		.left-text {
			display: block;
			margin-bottom: 12px;
		}
		
		.check-container {
			max-width: 100%;
			display: block;
		}
		
		.radio-2:not(checked) + label {
			max-width: 100%;
		}
		
		span {
			margin-right: 0;
			font-size: 12px;
		}
	}
	
	footer {
		.custom-container {
			padding: 0 25px;
		}
		.right-block, .left-block {
			float: none;
			width: 100%;
			margin-bottom: 20px;
		}
	}
	
}

@media only screen and (max-width: 680px) {
	
	.header-top {
		.tile--sites {
			.title-block h4 {
				font-size: 12px;
			}
		}
		.sites__link {
			font-size: 10px;
		}
		.all-site-popup-deb-popup {
			.left-popup, .right-popup {
				padding: 20px 5px 20px 5px;
			}
		}
		.text-mobile {
			display: block;
		}
		.text-desktop {
			display: none;
		}
		.your-debt {
			display: none;
		}
		.border-dashed {
			&:after {
				right: -20px;
				top: 8px;
			}
		}
		.border-line {
			&:after {
				top:4px;
			}
		}
		li {
			padding: 10px 0;
			width: 40%;
		}
		.select-office {
			width: 40%;
			text-align: left;
		}
		.border-line {
			width: 40%;
		}
		.admin,.message {
			width: 10%;
		}
	}
	
	.header-bottom {
		.toggle-menu {
			display: inline-block;
		}
		
		form, .menu-top {
			display: none;
		}
		
		.logo {
			a {
				max-width: 30%;
			}
			img {
				max-width: 100%;
			}
		}
		
		.container-text {
			padding-left: 5px;
		}
		
		.text-logo {
			margin-left: 75px;
			padding-top: 9px;
		}
		
		.big-text {
			font-size: 15px;
			padding-bottom: 1px;
		}
		
		.small-text {
			font-size: 10px;
		}
		
		.right-block {
			width: 15%;
		}
	}
	
	.show-Que {
		display: none;
	}
	
	.show-fixed-menu {
		display: none;
	}
	
	main {
		.slide {
			max-width: 100%;
			margin: 0 0 20px;
		}
		
		.title-slide {
			font-size: 12px;
		}
		
		.small-width {
			width: 100%;
			margin: 10px 0;
			max-height: 100%;
			min-height: 100%;
			&:nth-child(3n+2) {
				margin: 10px 0;
			}
			.padding-container {
				margin-bottom: 10px;
			}
		}
		
		.personal-area {
			width: 100%;
			margin: 10px 0;
			max-height: 100%;
			min-height: 100%;
			.description-personal-area {
				max-height: 100%;
				overflow: auto;
			}
		}
		
		.popular-list a {
			font-size: 14px;
		}
		
		.custom-container {
			padding: 0 20px 0 20px;
		}
	}
	
	.analysis-container {
		
		.navigation, .sales-analysis {
			width: 100%;
			float: none;
		}
		.sales-analysis {
			.footer-button {
				padding-bottom: 40px;
			}
		}
		
		.small-blocks-analysis {
			width: 100%;
			float: none;
		}
	}
	
	.cars-container {
		.navigation-list {
			li {
				width: 100%;
			}
		}
		.small-blocks-analysis {
			width: 100%;
		}
	}
	
	.complex {
		
		.float-container{
			display: table;
		}
		
		.left-block {
			margin-right: 0;
			display: table-header-group;
		}
		.right-block {
			float: none;
			width: auto;
			display: table-footer-group;
		}
	}
	
	.history-container {
		.float-container {
			display: table;
		}
		.left-block {
			margin-right: 0;
			display: table-header-group;
		}
	}
	
	.float-container {
		.right {
			margin-left: 0;
		}
		.left {
			float: none;;
			width: 100%;
		}
	}
	
	#delete {
		.modal-content {
			max-width: 320px;
		}
		.modal-header {
			padding: 35px 0;
		}
	}
	
	.goods-container {
		.goods {
			.hide-label-mobile {
				display: none;
			}
			.select {
				margin-left: 0;
			}
		}
	}
	
	.debit-container {
		.treaty {
			.tabs-list {
				li {
					display: block;
					float: none;
					font-size: 11px;
					a {
						padding: 5px 5px;
					}
				}
			}
		}
		.footnotes-list {
			li {
				float: none;
				width: 100%;
			}
		}
	}
	
	footer {
		.footer-list {
			float: none;
			width: 100%;
		}
	}
}

@media only screen and (max-width: 480px) {
	
	.header-top {
		.all-site-popup-deb-popup {
			.left-popup, .right-popup {
				width: 100%;
				padding: 20px 5px 20px 5px;
			}
			.left-popup {
				padding-bottom: 0;
			}
		}
	}
	
	.header-bottom {
		.logo {
			a {
				max-width: 32%;
			}
		}
		.text-logo {
			margin-left: 60px;
			padding-top: 7px;
		}
		.big-text {
			font-size: 12px;
			padding-bottom: 1px;
		}
		.small-text {
			font-size: 7px;
		}
	}
	
	#message {
		.left-label {
			float: none;
			margin-bottom: 10px;
			display: block;
		}
		.input, .textarea {
			margin-left: 0;
			max-width: 350px;
		}
	}
	
	#que {
		.input-container {
			width: 100%;
		}
		.name-user input {
			width: 100%;
		}
	}
	
	.analysis-container {
		.sales-analysis {
			button {
				font-size: 11px;
				margin: 0;
			}
		}
		
		.link-container {
			span {
				&:first-child {
					a {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: 30px;
						display: inline-block;
					}
				}
			}
		}
		
		.navigation-list {
			.reports-list {
				a {
					font-size: 10px;
				}
			}
		}
		
		.credit {
			.price {
				display: block;
				margin-top: 5px;
			}
		}
		
		.footer-button {
			a {
				display: block;
			}
		}
	}
  
  .showing-notifications {
	  .hide-mobile {
		  display: none;
	  }
  }
	
	.consumption-container {
		.quantity-oil-name {
			font-family: 'DinProRegular', sans-serif;
			text-align: left;
			p {
				max-width: 200px;
			}
		}
	}
}